<p>A coworker has invited you to share your salary with the following group:</p>

<h3><%= @group.name %></h3>

<%= @group.invitations_count %> of your coworkers have already been invited.

<p>Create an account <%= link_to 'here', new_user_url %>.</p>

<p>PaySymmetry is a site that allows employees to anonymously share their
salaries. Yadada it's awesome...</p>
