<p>A coworker has invited you to share your salary with the following group:</p>

<h3><%= @group.name %></h3>

<%= @group.invitations_count %> of your coworkers have already been invited.

<p>Accept this invitation <%= link_to 'here', join_group_url(@group) %>.</p>

<p>PaySymmetry is a site that allows employees to anonymously share their
salaries. Yadada it's awesome...</p>
