<% if flash[:alert].present? %>
  <div class="alert alert-danger" role="alert">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-info" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
