<% classes ||= [] %>

<% if flash[:alert].present? %>
  <div class="<%= (classes + %w(alert alert-danger)).join(' ') %>" role="alert">
    <p><%= flash[:alert] %> <i class="fa fa-close"></i></p>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="<%= (classes + %w(alert alert-info)).join(' ') %>" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
