<h3 id="sidebar-header">You</h3>
<div id="personal-stats">
  <div>
    <h5>Title</h5>
    <p><%= @salary.title %></p>
  </div>
  <div>
    <h5>Salary</h5>
    <p><%= number_to_currency(@salary.annual_pay) %>
  </div>
  <div>
    <h5>Last Bonus</h5>
    <p>None</p>
  </div>
  <div>
    <h5>Equity</h5>
    <p>None</p>
  </div>
  <a href="">Edit</a>
</div>
