<div class="group-listing" data-id="<%= group.id %>">
  <div class="group-listing-header">
    <h3><%= group.name %></h3>
  </div>
  <div class="group-listing-body">
    <table>
      <tr>
        <td><h5>Your Title:</h5></td>
        <td><%= salary.title %></td>
      </tr>
      <tr>
        <td><h5>Your Salary:</h5></td>
        <td><%= number_to_currency(salary.annual_pay) %></td>
      </tr>
    </table>
  </div>
</div>
