<div class="group-listing">
  <div class="group-listing-header">
    <h3><%= group.name %></h3>
  </div>
  <div class="group-listing-body">
    <table>
      <tr>
        <td>Your Title</td>
        <td><%= salary.title %></td>
      </tr>
      <tr>
        <td>Your Salary</td>
        <td><%= salary.annual_pay %></td>
      </tr>
    </table>
  </div>
</div>
