<% groups ||= [] %>

<!-- Groups Sidebar -->
<%= content_for :groups_sidebar do %>
  <div class="groups-list">
    <h4>Groups</h4>
    <ul class="multiple-select">
      <% groups.each do |this_group| %>
        <%= content_tag :li, class: group_selected_class(group == this_group) do %>
          <%= link_to truncate(this_group.name, length: 22), group_path(this_group) %>
        <% end %>
      <% end %>
    </ul>
    <div class="create-group-btn">
      <a href="#"><i class="fa fa-plus"></i> Create New</a>
    </div>
  </div>
<% end %>
