<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("Salar.ly", root_path, class: "navbar-brand") %>
    </div>
  </div>
</nav>
