<h2>Groups</h2>
<div id="groups-list">
  <% if @user.salaries.count > 0 %>
    <% @user.salaries.each do |salary| %>
      <%= render partial: "partials/group_listing", 
            locals: { group: salary.group, salary: salary } %>
    <% end %>
  <% else %>
    <p>You are in no groups.</p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= link_to "Create Group", new_group_path, 
        class: ["btn", "btn-default"] %>
<% end %>
