<!-- Groups Sidebar -->
<%= content_for :groups_sidebar do %>
  <%= render partial: 'partials/groups_sidebar' %>
<% end %>

<div class="center-div spaced-body">
  <h3>You're not yet in any groups.</h3>
  <p>If you've been invited to a group, accept the invitation <br/>by clicking on
  the <i class="fa fa-envelope"></i> icon in the top right.</p>
  <p>You can also create a new group by using the "Create New" <br/>button on the
  left.</p>
</div>
