<h3>Invite Coworkers</h3>
<p>Who would you like to invite to be a part of your group?</p>
<p>Enter their email addresses below:</p>

<%= form_tag controller: "groups", action: "send_invites" do %>
  <%= label_tag :emails_label, "Emails" %>
  <%= text_area_tag :emails, "", size: "24x6" %>
  <%= submit_tag "Invite" %>
<% end %>

<% link_to "Back", :back %>
