<%= content_for :groups_sidebar do %>
  <div class="groups-list">
    <h4>Groups</h4>
    <ul>
      <% @groups.each do |group| %>
        <%= content_tag :li, class: group_selected_class(@group == group) do %>
          <%= link_to truncate(group.name, length: 22), group_path(group) %>
        <% end %>
      <% end %>
    </ul>
    <div class="create-group-btn">
      <a href="#"><i class="fa fa-plus"></i> Create New</a>
    </div>
  </div>
<% end %>


