<h3>Great! Your account is almost ready.</h3>
<div class="spaced">
  <p>We've sent an email to "<%= @user.email %>" with the link you need to verify
   your email address. Clicking on that link will take you to the next step.</p>
</div>

<div class="double-spaced">
  <%= link_to "Resend Email", resend_verification_user_path(@user),
      class: %w{ btn btn-default } %>
</div>
