<section class="box form-box spaced-body">
  <% if @verified %>
    <p class="caption">Email Verification Success</p>
    <h3>You're all set!</h3>
    <p>We've verified your email address and you're ready to go.</p>
    <div class="input-group">
      <%= link_to "Get Started", groups_path(@user),
          class: %w{ btn btn-solid } %>
    </div>
  <% else %>
    <p class="caption">Email Verification Failure</p>
    <h3>Uh Oh</h3>
    <p>If you're seeing this page, you've tried to verify your email address with
    a code that we don't recognize. Please check 
    your inbox. We may have sent you an email more recently.</p>
    <p>Please also check that you are logged-in with the correct email address.
    You are currently logged-in as:</p>
    <h4><%= @user.email %></h4>
  <% end %>
</section>
