@import "partials/constants";

.navbar-default {
    border-bottom: solid 1px $p-color-medium;
    background-color: $p-color-lightest;

    .container-fluid {
        margin-left: 130px;
        margin-right: 130px;
    }

    .navbar-header {
        text-align: center;

        .navbar-brand {
            padding: 0px;
            color: $p-color-onlight;
            font-size: 1.65em;
            height: $nav-bar-height; 
            line-height: $nav-bar-height;
            text-transform: uppercase;
            font-family: $header-font-family;
            font-weight: 700;
        }
    }

    .nav {
        height: $nav-bar-height;

        li {
            height: 100%;
            text-align: center;
            padding: 0px 12px;

            u {
                border-bottom: 3px hidden white;
                text-decoration: none;

                &:hover a {
                    color: $p-color-highlight;
                }
            }

            u.underline {
                border-bottom: 3px solid $p-color-onlight;

                &:hover {
                    border-bottom: 3px solid $p-color-highlight;

                    a {
                        color: $p-color-highlight;
                    }
                }
            }

            a {
                line-height: $nav-bar-height;
                padding-top: 0px;
                padding-bottom: 0px;
                color: $p-color-onlight;
            }
        }

        .dropdown-toggle {
            color: $p-color-onlight;

            .caret {
                margin-left: 4px;
            }
        }
    }

    a {
        color: $p-color-onlight;
        text-decoration: none;
    }
}

.btn {
    border: none;
    border-radius: 0px;
    text-decoration: none;
    min-width: 60px;
}

.btn-default {
    color: $p-color-ondark;
    background-color: $p-color-dark;
    border: 1px solid transparent;
    padding: 8px;

    a, p {
        color: $p-color-ondark;
        margin-bottom: 0px;
        font-size: 14px;
    }

    &:hover {
        color: $p-color-onlight;
        background-color: $p-color-medium;
        border: 1px solid $p-color-highlight;

        a, p {
            color: $p-color-onlight;
        }
    }
}

.btn-padded {
    padding: 12px;
    font-size: 16px;
}

.close {
    font-size: 32px;
}

.modal-content {
    border-radius: 0px;
}
