@import "partials/constants";

.navbar-default {
    border-bottom: solid 1px $p-color-medium;
    background-color: $p-color-lightest;

    .container-fluid {
        margin-left: 130px;
        margin-right: 130px;
    }

    .navbar-header {
        text-align: center;

        .navbar-brand {
            padding: 0px;
            color: $p-color-onlight;
            font-size: 1.65em;
            height: $nav-bar-height; 
            line-height: $nav-bar-height;
            text-transform: uppercase;
            font-family: $header-font-family;
            font-weight: 700;
        }
    }

    .nav {
        .dropdown-toggle {
            color: $p-color-onlight;
            padding: 0px;
            height: $nav-bar-height;
            line-height: $nav-bar-height;

            .caret {
                margin-left: 4px;
            }
        }
    }
}

.btn {
    border: none;
    border-radius: 0px;
}

.btn-default {
    color: $p-color-ondark;
    background-color: $p-color-dark;
    padding: 8px;

    &:hover {
        color: $p-color-onlight;
        background-color: $p-color-medium;
    }
}
