@import "partials/constants";

body {
    padding-top: $nav-bar-height;
    background-color: $p-color-green;
}

#page-container {
    padding: 40px;

    .main-panel {
        background-color: $p-color-light;
        border: 1px solid $p-color-medium;

        .main-content {
            padding: 20px;
            background-color: $p-color-lightest;
            border-left: 1px solid $p-color-medium;
        }
    }
}

.sidebar {
    padding: 20px;

    .btn {
        display: block;
    }

    .spaced {
        margin-top: 14px;
    }

    .double-spaced {
        margin-top: 28px;
    }

    .half-spaced {
        margin-top: 7px;
    }

    .delimited {
        padding: 14px 0px;
        border-top: 1px solid $p-color-medium;
        border-bottom: 1px solid $p-color-medium;
    }
}

// fonts
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h1, h2, h3, h4 {
    font-family: $header-font-family;
    color: $p-color-onlight;
}

h1, h2 {
    font-weight: 700;
}

a, p, td, h5, h6 {
    font-family: $body-font-family;
    font-size: $font-size;
    color: $p-color-onlight;
}

a {
    text-decoration: underline;

    &:hover {
        color: $p-color-highlight;
    }
}

h5, h6 {
    font-weight: 700;
}

.faded {
    color: $p-color-dark;
}
