@import "partials/constants";

body {
    padding-top: $nav-bar-height;
    background-color: $p-green;
}

#page-container {
    padding: 40px;

    .main-panel {
        background-color: white;
        padding: 24px;
    }

    .sidebar {
        .btn {
            display: block;
            margin-bottom: 16px;
        }
    }
}

// fonts
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h1, h2, h3, h4 {
    font-family: $header-font-family;
    color: $p-dark-navy;
}

h1, h2 {
    font-weight: 700;
}

a, p, td, h5, h6 {
    font-family: $body-font-family;
    font-size: $font-size;
    color: $p-dark-navy;
}

h5, h6 {
    font-weight: 700;
}

//a {
//    color: $p-navy;
//
//    &:hover {
//        color: $p-dark-navy;
//        text-decoration: none;
//    }
//
//    &:visited {
//        color: $p-navy;
//        text-decoration: none;
//    }
//}
