@import "partials/constants";

body {
    padding-top: $nav-bar-height;
    background-color: $p-color-green;
}

#page-container {
    padding: 40px;

    .main-panel {
        background-color: $p-color-light-green;
        border: 1px solid $p-color-medium;
        overflow: hidden;

        .main-content {
            padding-bottom: 30000px;
            margin-bottom: -29980px;

            padding-left: 26px;
            padding-right: 26px;
            padding-top: 26px;
            background-color: $p-color-lightest;
            border-left: 1px solid $p-color-medium;
        }
    }
}

.sidebar {
    padding-bottom: 30000px;
    margin-bottom: -29980px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    .btn {
        display: block;
    }
}

.spaced {
    margin-top: 14px;
    min-height: 1px;
}

.double-spaced {
    min-height: 1px;
    margin-top: 28px;
}

.half-spaced {
    margin-top: 7px;
}

.delimited {
    padding: 14px 0px;
    border-top: 1px solid $p-color-medium;
    border-bottom: 1px solid $p-color-medium;
}

// fonts
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: 700;
}

th, b {
    font-weight: 900;
    color: $p-color-bold;
}

h1, h2, h3, h4 {
    font-family: $header-font-family;
    color: $p-color-onlight;
}

body, a, p, td, th, h5, h6 {
    font-family: $body-font-family;
    font-size: $font-size;
    color: $p-color-onlight;
}

p {
    margin-bottom: 14px;
}

a {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $p-color-highlight;
    }
}

p.note {
    font-size: 12px;
}

.highlight {
    color: $p-color-highlight;
}

.faded {
    color: $p-color-dark;
}

hr {
    margin: 26px 0px;
    border-color: $p-color-medium;
}

.section-heading {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
}

input {
    padding: 6px;
    border: solid 1px $p-color-medium;
    min-width: 200px;
}

.input-block {
    padding: 12px;
    display: block;
    border-bottom: none;
    
    &:last-child {
        border-bottom: solid 1px $p-color-medium;
    }
}

textarea {
    resize: none;
}

