.groups-sidebar {
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    padding: 36px 0;
}

.groups-list h4, .groups-list a {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.create-group-btn {
    margin-top: 20px;
    color: #929292;
}

.create-group-btn:hover {
    color: white;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

footer li {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #b9b9b9;
}

footer li:hover {
    color: white;
}
