// layout
$nav-bar-height: 54px;

// colors
$background-color: #636363;
$header-background-color: #72996b;
$main-background-color: #f0f7f2;
$button-background-color: #929292;
$button-hover-background-color: #afafaf;

$on-dark-color: white;
$on-light-color: #636363;
$border-color: #cacaca;
$highlight-color: orange;

// fonts
$header-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
$body-font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic",
    Arial, sans-serif;
