// layout
$header-height: 54px;

// colors
$border-color: #cacaca;
$highlight-color: orange;
$table-row-odd-color: #f9fcfd;
$table-row-even-color: #e5f1f3;

// background colors
$background-color: #636363;
$header-background-color: #72996b;
$content-background-color: #f0f7f2;
$box-background-color: white;
$button-background-color: #4f696f;
$button-hover-background-color: #6c858a;
$field-background-color: #e5f1f3;

// font colors
$on-dark-color: white;
$on-light-color: #636363;
$caption-color: #909090;

// fonts
$header-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
$body-font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic",
    Arial, sans-serif;
$numbers-font-family: "Roboto", sans-serif;
