// layout
$nav-bar-height: 86px;
$outside-bar-padding: 60px;

// colors
$p-dark-navy: #304251;
$p-navy: #3e5363;
$p-green: #25b275;
$p-gray: #6a7483;
$p-light-gray: #D8E4E8;
$p-silver: #b8cee0;

// fonts
$header-font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
