@import "partials/constants";
@import "partials/info_sidebar";

.sections-holder {
    overflow: hidden;
    padding-right: 20px;
    margin-right: 240px;
}

.company-title-row {
    margin-bottom: 24px;

    .company-heading {
        float: left;
    }

    .company-util {
        text-align: right;
        font-size: 1.68rem;
        line-height: 1.5;
    }

    .title-select {
        margin-right: 16px;
        cursor: pointer;

        &:hover {
            color: $button-hover-background-color;
        }
    }

    .dropdown-menu {
        top: 30px;
        right: 35px;
    }
}

.stat-summary {
    margin: auto;
    width: 66%;
    text-align: center;
    table-layout: fixed;
}

.stat-numbers td {
    font-size: 4.37rem;
    font-weight: bold;
    font-family: $numbers-font-family;
    padding: 6px;
}

.stat-numbers td.emphasize {
    font-size: 5rem;
}

.stat-captions td {
    padding: 6px;
}

.salary-table {
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    table-layout: fixed;

    th, td {
        padding: 8px;
    }

    th:first-child, td:first-child {
        padding-left: 90px;
    }

    th:last-child, td:last-child {
        padding-right: 90px;
    }

    tbody {
        tr:nth-of-type(odd) {
            background-color: $table-row-odd-color;
        }

        tr:nth-of-type(even) {
            background-color: $table-row-even-color;
        }

        // divider rows
        tr:first-of-type {
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;
            text-align: left;
            background-color: transparent;
            cursor: pointer;

            td {
                padding: 8px;
            }

            td:first-child {
                text-align: left;
            }

            td:last-child {
                text-align: right;
            }
        }
    }
}

.canvas-holder {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 16px 6% 8px 0;
}
