@import "partials/constants";

#groups-list {
    padding: 20px 0px;

    .group-listing {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid $p-color-lightest;

        &:last-child {
            margin-bottom: 0px;
        }

        &:hover {
            background-color: $p-color-light;
            border: 1px solid $p-color-medium;
        }

        .group-listing-header {
            padding-bottom: 4px;
            border-bottom: 1px solid $p-color-darkest;
        }

        .group-listing-body {
            padding: 5px;
        }
    }
}

table {
    td {
        padding-right: 20px;
        padding-bottom: 2px;
    }
}
