@import "partials/constants";

.navbar-default {
    .navbar-brand {
        font-size: 24px;
        line-height: 26px;
        height: $nav-bar-height; 
    }

    .nav {
        .dropdown {
            a {
                padding-top: 18px;
                height: $nav-bar-height;

                .caret {
                    margin-left: 4px;
                }
            }
        }
    }
}
