@import "partials/constants";

body {
    padding-top: $nav-bar-height;
    background-color: $p-green;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-container {
    padding: 30px;

    .main-bar {
        background-color: white;
    }

    .left-bar {
        padding-left: $outside-bar-padding;
    }

    .right-bar {
        padding-right: $outside-bar-padding;
    }

    .left-bar, .right-bar {
        .btn {
            display: block;
        }
    }
}
